Chapters/Genetic_drift_selection.aux
Chapters/Interaction_selection_mut_mig.aux
Chapters/Linked_selection.aux
Chapters/One_locus_selection.aux
Chapters/Pheno_var.aux
Chapters/Response_to_sel.aux
Chapters/chapter-01.aux
Chapters/genetic_drift.aux
Chapters/genetic_drift.fdb_latexmk
Chapters/genetic_drift.fls
Chapters/genetic_drift.log
Chapters/intro.aux
Chapters/multi_locus_sel.aux
popgen_notes.aux
popgen_notes.bbl
popgen_notes.blg
popgen_notes.fdb_latexmk
popgen_notes.fls
popgen_notes.log
popgen_notes.out
popgen_notes.synctex.gz
popgen_notes.toc
