p { 
	padding:0px; 
	margin:15px 15px 15px 15px;
}

p.ltx_p {
	max-width:800px;
    display: block;
}

p.ref { 
	margin:15px 5px 15px 5px;
}
p.date { 
	font-size:12px; 	
	margin:-12px 0px 0px 5px;	
}

p.emph {
	font-size:18px;
	font-style:italic;
	margin:15px 15px 15px 15px;
}
p.updated {
	font-weight:300;	
	font-size:14px; 
	margin:25px 0px 5px 5px;
	text-align:center;	
	max-width:100%;	
}
p.thin {
	margin:5px 0px 0px 5px;
}
p.margin {
	margin:15px 15px 15px 15px;
	max-width:100%;
}

b {
	font-weight:600;
}

em {
	font-style:normal;
	font-weight:600;
}

a { color: #9A1A4D; text-decoration:none; }
a img { border:0; }
a:hover { text-decoration:underline; }


img.center {   
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
img.ltx_graphics, object.ltx_graphics  { 
    float:right; 
    padding:18px 10px 10px 18px; 
    max-width: 70%;
    height: auto;
}

h1, h2, h3 {
	font-family: Optima; Helvetica; Arial;
	margin-left:5px;
	margin-top:25px;	
}

.ltx_title_section .ltx_tag_section {
    padding-right: 2em;
    margin-left: -1em;
}

h1 {
	font-weight:300;
}

h2 {
	font-size:22px; 
	font-weight:300;
}

h3 {
	font-size:16px; 	
	font-weight:600;
}

h4 {
	font-size:14px; 	
	font-weight:600;
}

/* this does \paragraph{...} stuff */
h4.ltx_title_paragraph {
    float: left;
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: .5em;
}

.ltx_paragraph .ltx_title + .ltx_para > .ltx_p {
    display: block;
}


/* and this does \itemize stuff */
.ltx_itemize .ltx_tag_itemize, .ltx_itemize .ltx_tag_enumerate  {
    float: left;
    margin-left: .5em;
}

.ltx_item .ltx_tag + .ltx_para > .ltx_p {
    display: block;
}

body {
	min-width:100%;
	max-width:100%;	
	margin-left: auto; 
	margin-right: auto; 
	margin-bottom:30px;	
	text-align: left;
	background-color:#ffffff;
	color:#333333;	
}


.ltx_document { 
	min-width:600px;
	max-width:1000px;
	margin-left: auto; 
	margin-right: auto;
	padding: 5px 30px 12px 30px;
	font-size:14px;
	line-height:23px; 	
	font-family: georgia; serif;
	font-weight:300;
}

.ltx_rule {
	min-width:100%;
	max-width:100%;
    display: inline-block; 
    height: 1px; 
    background: none repeat scroll 0% 0% black;
}

.ltx_document .thebibliography {
	font-size:13px;
	line-height:18px; 		
}

.ltx_figure, .ltx_table {
	font-size:13px;
	line-height:18px; 	
	padding: 10px 30px 10px 30px; 
	position:relative; 
	width:95%;
	border: 0;
    clear: right;
}

.ltx_figure {
	padding: 10px 30px 10px 30px; 
	position:relative; 
	width:95%;
}

.ltx_figure > table {
    float:right; 
    padding:18px 10px 10px 18px; 
    max-width: 70%;
    height: auto;
}

.ltx_appendix .ltx_figure {
    clear: both;
}

td.ltx_subgraphics img, td.ltx_subgraphics object  {
    padding: 0;
    max-width: 100%;
}

table.ltx_equationgroup, table.ltx_equation {
    max-width: 800px;
}

.ltx_table { 
	float:right; 
	padding:10px 30px 15px 30px; 
}

table.ltx_tabular { 
    float:right; 
    padding:18px 10px 10px 18px; 
    max-width: 70%;
}

table.ltx_tabular tr:nth-child(odd) td{
    background-color: #FFFFFF;
}
table.ltx_tabular tr:nth-child(even) td{
    background-color: #DDDDDD;
}

.ltx_figure p, .ltx_table p {
    max-width:100%;
}

.ltx_document .id {
	font-weight:600;
}

.ltx_caption {
    text-align: left;
    border-color: -moz-use-text-color;
    border-width: 1px 0px 0px;
    border-style: dotted none none;
}

.ltx_caption .ltx_tag_figure, .ltx_caption .ltx_tag_table {
	font-weight:600;
    font-variant: small-caps;
}

.ltx_caption .ltx_font_bold {
	font-weight:600;
    text-align: left;
}

.ltx_document .cmbx-10 {
	font-weight:600;
}

.ltx_document .cmmi-10x-x-109 {
  font-style:italic;
}

.ltx_document .cmmi-10 {
  font-style:italic;
}

img.math-display {
	vertical-align:middle;
}

hr {
  border: 0;                                                                     
}
